/*
  Painful Red: #eb1736
  35 Years Old Purple: #5252d4
  Lighter purple on the gradient: #7575dd
  Shadow Purple Red: #781a44
*/

.paiful-red{
  background-color: #eb1736 !important;
}

.paiful-red-text{
  color: #eb1736 !important;
}

.old-purple{
  background-color: #5252d4 !important;
}

.old-purple-text{
  color: #5252d4 !important;
}

.title-spacer{
  height: 10vh;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 660px) {
  #chiassoNewsVideo {
    display: block;
  }

  .title-spacer{
    height: 15vh;
  }

  .back-button{
    width: 100% !important;
    margin-bottom: 3vh;
  }

  .swiper-slide{
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  }
}

@media screen and (max-width: 800px) {
  #partner-container{
    text-align: center;
  }

  #partner-container img{
    padding: 5vh;
    margin-left: 0vh !important;
    width: 100%;
    max-width: 30vh;

  }
}

footer li{
  margin-bottom: 1.5vh;
}

.newest-episodes-div{
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30em;
  height: 30vh;
}

#partner-container a {
  background:
          linear-gradient(
                  to bottom, #ff9800 0%,
                  #ff9800 100%
          );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #fff3cd;
  text-decoration: none;
  transition: background-size .2s;
}

#partner-container a:hover {
  text-decoration: none;
  transition: 0.5s;
  color: #000;
  background-size: 4px 50px;
}

/* Override mdb style */