/*
  Painful Red: #eb1736
  35 Years Old Purple: #5252d4
  Lighter purple on the gradient: #7575dd
  Shadow Purple Red: #781a44
*/

.paiful-red{
  background-color: #eb1736 !important;
}

.paiful-red-text{
  color: #eb1736 !important;
}

.old-purple{
  background-color: #5252d4 !important;
}

.old-purple-text{
  color: #5252d4 !important;
}

.title-spacer{
  height: 10vh;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #chiassoNewsVideo {
    display: block;
  }

  .title-spacer{
    height: 15vh;
  }

  .back-button{
    width: 100% !important;
    margin-bottom: 3vh;
  }
}